.bg-purple {
    background-color: rgb(180, 148, 226);
}

.btn-custom {
    background-color: rgb(57, 7, 57);
    color: white;
    border: none;
}

.btn-add {
    background-color: purple;
    color: white;
    border: none;
}

.btn-cancel {
    background-color: gray;
    color: white;
    border: none;
}

.months-display {
    background-color: rgb(180, 148, 226);
    height: 120px;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.month {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    margin: 0 2px;
    color:black;
}

.month-bar {
    width: 22px;
    height: 100px;
    border-radius: 15px;
    background-color: beige;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.month-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: purple;
    border-radius: 15px;
    transition: height 0.3s ease;
}

.expense-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(112, 104, 104);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.expense-date {
    background: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    width: 70px;
}

.expense-month, .expense-year {
    font-size: 12px;
}

.expense-day {
    font-size: 24px;
    font-weight: bold;
}

.expense-title {
    flex: 1;
    margin-left: 15px;
    color: white;
    text-align: left;
}

.expense-amount {
    background: purple;
    padding: 6px 10px;
    border-radius: 8px;
    color: white;
}

.no-expenses{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.display-items {
    margin-top: 20px;
    padding: 10px;
    min-height: 100px;
    color: white;
}
